extends layout

block content
  h1= title
  p Bienvenue sur le dashboard du projet !
  br
  br
  p Dans un premier temps vous pouvez avoir accès à la liste complète des utilisateurs :
  a(href="/users/")
    button Voir la liste des utilisateurs

  p Dans un second temps vous pouvez avoir accès à la liste complète des tâches de tous les utilisateurs :
  a(href="/tasks/")
    button Voir la liste des tâches
