doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
  body
block content
  h1= title
  p Bienvenue sur votre dashboard personnel de projet, &nbsp;
    span(style="color: #c54848;") #{userPseudo}
  br
  a(href="/"+userId+"/infos")
    button(id="button_style")
     span Voir mes infos personnelles
  a(href="/"+userId+"/edit")
    button(id="button_style")
      span Modifier mes infos
  br
  p Accès à la liste complète des utilisateurs :
  a(href="/"+userId+"/users")
    button(id="button_style")
      span Voir la liste des utilisateurs

  p Accès à la liste complète de vos tâches:
  a(href="/"+userId+"/todos")
    button(id="button_style")
     span Voir la liste de mes tâches

  p Accès à la liste complète des teams:
  if userTeam == null                               
    | Vous n'appartenez encore à aucune team !
    a(href="/"+userId+"/teams")
      button(id="button_style")
       span Voir la liste des teams
    a(href="/"+userId+"/edit")
      button(id="button_style")
        span Rejoindre une team
  else
    | &nbsp; Pour information, vous faites déjà parti de la team : &nbsp;
    span(style="color:#c54848;") #{userTeam.name}
    a(href="/"+userId+"/teams")
      button(id="button_style")
       span Voir la liste des teams
    a(href="/"+userId+"/leave_team")
      button(id="button_style")
        span Quitter ma team
