doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
  body
    block content
block content
  h1= title
  p Bienvenue sur le dashboard du projet, #{userPseudo}
  br
  a(href="/"+userId+"/infos")
    button(id="button_style")
     span Voir mes infos personnelles
  br
  p Accès à la liste complète des utilisateurs :
  a(href="/"+userId+"/users")
    button(id="button_style")
      span Voir la liste des utilisateurs

  p Accès à la liste complète de vos tâches:
  a(href="/"+userId+"/todos")
    button(id="button_style")
     span Voir la liste de mes tâches

  p Accès à la liste complète des teams:  (pour information, vous faites déjà parti de la team : #{userTeam})
  a(href="/"+userId+"/teams")
    button(id="button_style")
     span Voir la liste des teams
  a(href="/"+userId+"/teams")
    button(id="button_style")
    span Rejoindre une team
