doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
  body
    block content
block content
  h1= title
  p Bienvenue sur le dashboard du projet !
  br
  br
  p Dans un premier temps vous pouvez avoir accès à la liste complète des utilisateurs :
  a(href="/users/")
    button(id="button_style") Voir la liste des utilisateurs

  p Dans un second temps vous pouvez avoir accès à la liste complète de vos tâches:
  a(href="/"+userId+"/todos")
    button(id="button_style") Voir la liste de mes tâches
