doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
  body
    block content
block content
  h1= title
  p Bienvenue sur le dashboard du projet, #{userPseudo}
  br
  br
  p Accès à la liste complète des utilisateurs :
  a(href="/users/")
    button(id="button_style")
      span Voir la liste des utilisateurs

  p Accès à la liste complète de vos tâches:
  a(href="/"+userId+"/todos")
    button(id="button_style")
     span Voir la liste de mes tâches

  p Accès à la liste complète des teams:
  a(href="/"+userId+"/todos")
    button(id="button_style")
     span Voir la liste des teams
