extends layout

block content
  h1=title
  if (error)
  p=error
  p Connectez-vous à votre compte
  form(
    method="post"
    action="index"
  )
    label
      strong Pseudo
      input(type="text" name="pseudo")

    label
      strong Mot de passe
      input(type="password" name="password1")

    label
      input(type="submit" value="Envoyer")

  br
  br
  p Vous n'avez pas encore de compte ? Ce n'est pas grave
  a(href="/signup")
    button(id="button_style") Créer mon compte maintenant

  br
  br

  p Actions supplémentaires :
  a(href="/todos")
    button(id="button_style") Voir toutes les todos
  a(href="/users")
    button(id="button_style") Voir tous les utilisateurs
