* {
  font-family: "Comic Sans Ms";
}

body {
  background-image: url("https://pbs.twimg.com/media/CmwK6z-WcAAQEWv.jpg");
  background-size: cover;
  font: 1.2em Helvetica, "Lucida grande", Arial, sans-serif;
  color: #ffffff;
}

label {
  display: block;
}

tr {
  background-color: #dddddd;
  color: #292928;
}

td {
  padding: 10px;
}

table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

.complete {
  background-color: #939693;
  color: #595959;
}

.show {
  background-color: #30be54;
}

.edit {
  background-color: #205ba1;
}

.not-active-div {
  background-color: #7c7c7c;
}

.not-active {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: black;
  opacity: 0.2;
}

.delete {
  background-color: #961631;
}

.show a, .edit a, .delete a {
  text-decoration: none;
  color: white;
}

h1 {
  text-align: center;
  font-size: 60px;
}

p {
  font-size: 25px;
}

#no-matche {
  display: none;
}

button#button_style {
  background-color: #ffbc7a;
  padding: 50px;
  border-collapse: collapse;
  border: 3px solid #ff7e00;
  margin: 5px;
  font-size: 20px;
}
