extends ../layout

block content
  h1= title
  br
  br
  form(
    method="post"
    action='../signup'
    id="create_form"
  )
    h2 Création d'un nouveau compte
    div(id=("create_form_pass"))

      input(name="pseudo" placeholder="* Pseudo")

      input(name="firstname" placeholder="* Prénom")

      input(name="lastname" placeholder="* Nom")



    div(id=("create_form_pass"))
      input(name="email" placeholder="* Email")
      input(type="password" placeholder="* Mot de passe" name="password1")

      input(type="password" placeholder="* Confirmer votre mot de passe" name="password2")
    div(id="clear")
    input(id="create_form_submit" type="submit" value="Envoyer")
