extends ../layout

block content
  h1= title
  form(
    method="post"
    action='../signup'
  )
    label
      strong Pseudo
      input(name="pseudo")

    label
      strong Prénom
      input(name="firstname")

    label
      strong Nom
      input(name="lastname")

    label
      strong Email
      input(name="email")

    br
    p Les deux mots de passe doivent être identiques sinon l'inscription sera un échec.
    label
      strong Mot de passe
      input(type="password" name="password1")

    label
      strong Confirmer votre mot de passe
      input(type="password" name="password2")

    label
      input(type="submit" value="Envoyer")
