@import "./settings";

* {font-family: "Comic Sans Ms";}
body {background-image: url('https://pbs.twimg.com/media/CmwK6z-WcAAQEWv.jpg'); background-size: cover; font: $font-primary; color: $color-secondary;}
label {display: block;}
tr {background-color: rgb(221, 221, 221); color: rgb(41, 41, 40); }
td {padding:10px;}
table {border-collapse: collapse; width:100%; text-align: center;}
.complete {background-color: rgb(147, 150, 147); color: rgb(89, 89, 89);}
.show {background-color: rgb(48, 190, 84);}
.edit {background-color: rgb(32, 91, 161);}
.not-active-div {background-color: rgb(124, 124, 124)}
.not-active {pointer-events: none; cursor: default; text-decoration: none; color: black; opacity:0.2}
.delete {background-color: rgb(150, 22, 49);}
.show a, .edit a, .delete a {text-decoration: none; color: white;}
h1 {text-align: center; font-size: 60px;}
p {font-size: 25px;}
#no-matche{display:none;}
button#button_style { background-color: #ffbc7a; padding: 50px; border-collapse: collapse; border:2px outset black; margin: 5px; font-size: 20px; border-radius: 20px; box-shadow: 5px 5px 5px #ff7e00;}
