@import "./settings";

* {font-family: "Comic Sans Ms";}
body {background-image: url('http://img4.hostingpics.net/pics/500204CsOiC7X.gif'); background-size: cover; font: $font-primary; color: $color-secondary;} //https://pbs.twimg.com/media/CmwK6z-WcAAQEWv.jpg
label {display: block;}
tr {background-color: rgb(221, 221, 221); color: rgb(41, 41, 40); }
td {padding:10px;}
table {border-collapse: collapse; width:100%; text-align: center;}
.complete {background-color: rgb(147, 150, 147); color: rgb(89, 89, 89);}
.show {background-color: rgb(48, 190, 84);}
.edit {background-color: rgb(32, 91, 161);}
.not-active-div {background-color: rgb(124, 124, 124)}
.not-active {pointer-events: none; cursor: default; text-decoration: none; color: black; opacity:0.2}
.delete {background-color: rgb(150, 22, 49);}
.show a, .edit a, .delete a {text-decoration: none; color: white;}
h1 {text-align: center; font-size: 60px;}
p {font-size: 25px;}
#no-matche{display:none;}
button#button_style { border:none; border-radius:8px; color:#fff;  background:#921515; padding:0 0 10px; cursor:pointer; font-family:"Lucida Sans Unicode"; font-size:18px; outline:0; margin:10px; position:relative; transition:all 100ms linear; }
button#button_style:active {padding:0; top:7px; transition-duration:50ms;}
button#button_style span {border-radius:8px;  display:block;  background:#c54848; padding:30px;}
img#two_prob_four_hours {position: absolute; top: 200px; right: 150px; width: 600px; height: 300px; border-radius: 20px; border: 5px #c54848 outset}
img#no_idea_what_doing {position: absolute; width: 600px; height: 300px; top: 550px; right: 150px; border-radius:20px; border: 5px #c54848 outset}


//Formulaire de login sur /index
$color: #c54848;
form#login_form h2, input#login_form_submit::-webkit-input-placeholder, input#login_form_submit { font-family: 'comic sans ms', sans-serif; transition: all 0.3s ease-in-out; }
h2 { height: 70px; width: 100%; font-size: 18px; background: darken($color, 4%); color: white; text-align: center; border-radius: 3px 3px 0 0; box-shadow: 0 2px 5px 1px rgba(0,0,0,0.5); }
form#login_form { box-sizing: border-box; width: 350px; background:rgba(255, 255, 255, 0.1); margin-left: 220px; box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.2); padding-bottom: 40px; border-radius: 3px; h2 { box-sizing: border-box; padding: 20px; } }
#login_form input { margin: 40px 25px; width: 200px; display: block; border: none; padding: 10px 0; border-bottom: solid 1px $color; transition: all 0.3s cubic-bezier(.64,.09,.08,1); background: linear-gradient(to bottom, rgba(255,255,255,0) 96%, $color 4%); background-position: -200px 0; background-size: 200px 100%; background-repeat: no-repeat; color: white; &:focus, &:valid { box-shadow: none; outline: none; background-position: 0 0; &::-webkit-input-placeholder { color: $color; font-size: 11px; transform: translateY(-20px); visibility: visible !important; } } }
input#login_form_submit { border: none; background: $color; cursor: pointer; border-radius: 3px; padding: 6px; width: 200px; color: white; margin-left: 25px; box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2); &:hover { transform: translateY(-3px); box-shadow: 0 6px 6px 0 rgba(0,0,0,0.2); } }
button#button_style_create { border: none; background: $color; cursor: pointer; border-radius: 3px; padding: 6px; width: 350px; color: white; margin-left: 220px; box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2); &:hover { transform: translateY(-3px); box-shadow: 0 6px 6px 0 rgba(0,0,0,0.2); } }
form#login_form p {font-size: 15px; padding:15px;}


//Formulaire d'inscription sur les autres form
$color: #c54848;
form#create_form h2, input#login_form_submit::-webkit-input-placeholder, input#login_form_submit { font-family: 'comic sans ms', sans-serif; transition: all 0.3s ease-in-out; }
h2 { height: 70px; width: 100%; font-size: 18px; background: darken($color, 4%); color: white; text-align: center; border-radius: 3px 3px 0 0; box-shadow: 0 2px 5px 1px rgba(0,0,0,0.5); }
form#create_form { box-sizing: border-box; width: 500px; background:rgba(255, 255, 255, 0.1); margin: 0 auto; margin-top:100px; box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.2); padding-bottom: 40px; border-radius: 3px; h2 { box-sizing: border-box; padding: 20px; } }
#create_form input { margin: 40px 25px; width: 200px; display: block; border: none; padding: 10px 0; border-bottom: solid 1px $color; transition: all 0.3s cubic-bezier(.64,.09,.08,1); background: linear-gradient(to bottom, rgba(255,255,255,0) 96%, $color 4%); background-position: -200px 0; background-size: 200px 100%; background-repeat: no-repeat; color: white; &:focus, &:valid { box-shadow: none; outline: none; background-position: 0 0; &::-webkit-input-placeholder { color: $color; font-size: 11px; transform: translateY(-20px); visibility: visible !important; } } }
input#create_form_submit { border: none; background: $color; cursor: pointer; border-radius: 3px; padding: 6px; width: 200px; color: white; margin-left: 140px; box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2); &:hover { transform: translateY(-3px); box-shadow: 0 6px 6px 0 rgba(0,0,0,0.2); } }
button#button_style_create { border: none; background: $color; cursor: pointer; border-radius: 3px; padding: 6px; width: 350px; color: white; margin-left: 220px; box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2); &:hover { transform: translateY(-3px); box-shadow: 0 6px 6px 0 rgba(0,0,0,0.2); } }
div#create_form_pass {float:left;}
span#choix_team { padding: 10px; margin-left: 15px; font-size: 12px; color: #c54848;}
select { padding:5px; margin: 0; border-radius:4px; box-shadow: 0 3px 0 #921515, 0 -1px #921515 inset; background: #c54848; color:white; border:none; outline:none; display: inline-block; appearance:none; cursor:pointer; }

//clear
div#clear {clear:both;}
